<h1>Items</h1>

<h3><%= link_to "new item", "javascript:void();", class: 'new-item-link' %></h3>

<!-- Button to trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newItemModal">
  Launch Modal
</button>

<!-- Modal HTML -->
<div class="modal fade" id="newItemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="newItemModalLabel">NEW ITEM</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <!-- Modal Body -->
      <div class="modal-body">
           <%= form_with(model: Item.new, url: items_path, method: :post, remote: true) do |f| %>
          <div class="mb-3">
            <%= f.label :Name %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= f.label :Category %>
            <%= f.text_area :category, class: "form-control" %>
          </div>
          <%= f.submit "Create", class: "btn btn-primary" %>
        <% end %>
      </div>
      
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>

    </div>
  </div>
</div>



<div id="new-form"></div>
<div id="edit-form"></div>
<div>
  <button data-category="Electronics" class="filter-btn">Electronics</button>
  <button data-category="Furniture" class="filter-btn">Furniture</button>
  <button data-category="Education" class="filter-btn">Education</button>
  <button data-category="" class="filter-btn">All</button>
</div>


<div id="items-container">
  <%= render partial: 'items', locals: { items: @items } %>
</div>

<div id="new-item-data"></div>

<div id="items-container">
    

</div>



